.feed {
  border: 1px black solid;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
}
.feed h2 {
  border: 1px black solid;
  width: 220px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
header ul li {
  display: inline;
  margin-right: 20px; 
  font-family: Arial, Helvetica, sans-serif;
}
header {
  align-items: center;
  display: flex;
    border: 1px solid black;
}
footer {
  border: 1px solid black;
  margin-top: 20px;
}
footer p {
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
footer .brazil-icon {
  display: block;
  margin: 0 auto;
}
.intro {
  font-family: Arial, Helvetica, sans-serif;
}